<section ng-controller="ProjectController" ng-init="find()">
  <div class="page-header">
    <h1>Project Ranking</h1>
   <label>Search Project: <input ng-model="searchText"></label>
  <input type="submit">
  </div>
  <div class="list-group">
    <a ng-repeat="project in projects" ui-sref="projects.rate({projectId: project._id})" class="list-group-item">
      <div class="row">
        <div class="col-sm-2">
          <div class="post-thumb"><img class="logo-icon" ng-if="project.logo" ng-src='modules/projects/client/img/logos/{{project.logo}}' alt="No img"></div>
          <div class="post-thumb"><img class="logo-icon" ng-if="!project.logo" src='modules/projects/client/img/logos/default.jpg' alt="No img"></div>
        </div>
        <div class="col-sm-10">
          <p  class="list-group-item-heading" ng-bind="project.teamName"></p><br>
          <div class="list-group-item-text" ng-bind="project.description"></div>
        </div>
        <div class="row">
          <section ng-controller="RatingsController" ng-init="findOne()">
            <div class="page-header">
              <h1 ng-bind="rating.title"></h1>
            </div>
            <div class="pull-right" ng-show="authentication.user._id == rating.user._id">
              <a class="btn btn-primary" ui-sref="ratings.edit({ratingId: rating._id})">
                <i class="glyphicon glyphicon-edit"></i>
              </a>
              <a class="btn btn-primary" ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </div>
            <small>
              <em class="text-muted">
                Posted on
                <span ng-bind="rating.created | date:'mediumDate'"></span>
                by
                <span ng-bind="rating.user.displayName"></span>
              </em>
            </small>
            <p class="lead" ng-bind="rating.content"></p>
          </section>
        </div>
      </div>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="projects.$resolved && !projects.length">
    No projects yet, why don't you <a ui-sref="projects.create">create one</a>?
  </div>
</section>
