<section ng-controller="ProjectRankingController" ng-init="find()">
  <div class="page-header">
    <h1>Project Ranking</h1>
   <label>Search Project: <input ng-model="searchText"></label>
  <input type="submit">
  </div>
  <div class="list-group">

    <div class="tableWrapper">
      <table class="table table-striped table-hover">
        <tr>
          <th>Logo</th>
          <th>Team</th>
          <th>Poster Rating</th>
          <th>Presentation Rating</th>
          <th>Demo Rating</th>
          <th>My Comments</th>
        </tr>
        <tr ng-repeat="rating in ratings" ui-sref="projects.rate({projectId: rating.project._id})" ng-show="rating.user._id === authentication.user._id">
          <td class="">
            <div class="post-thumb"><img class="logo-icon" ng-if="rating.project.logo" ng-src='modules/projects/client/img/logos/{{rating.project.logo}}' alt="No img"></div>
            <div class="post-thumb"><img class="logo-icon" ng-if="!rating.project.logo" ng-src='modules/projects/client/img/logos/default.jpg' alt="No img"></div>
          </td>
          <td>
            <text  class="list-group-item-heading" ng-bind="rating.project.teamName"></text><br>
          </td>
          <td>
            <text class="list-group-item-text" ng-bind="rating.posterRating"></text>
          </td>
          <td>
            <text class="list-group-item-text" ng-bind="rating.presentationRating"></text>
          </td>          
          <td>
            <text class="list-group-item-text" ng-bind="rating.demoRating"></text>
          </td>
          <td>
            <text class="list-group-item-text" ng-bind="rating.comment"></text>
          </td>
        </tr>
      </table>
    </div>


  </div>
  <div class="alert alert-warning text-center" ng-if="projects.$resolved && !projects.length">
    No projects yet, why don't you <a ui-sref="projects.create">create one</a>?
  </div>
</section>
