<!-- <section ng-controller="HomeController">
  <link rel="stylesheet" type="text/css" href="modules/core/client/css/splashpage.css">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="IPPD Logo" class="img-responsive text-center img-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <h2> IPPD welcomes you to the Team Rater </h2>
    <p>
      <a class="btn btn-primary btn-lg" href="authentication/signin">Sign In</a> 
    </p>
  </div>
</section> -->


<section ng-controller="HomeController">
    <link rel="stylesheet" type="text/css" href="modules/core/client/css/splashpage1.css">
    <div class="splashpage">
        <div class="jumbotron text-center">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <img alt="IPPD Logo" class="img-responsive text-center img-center" src="modules/core/client/img/brand/IPPD_logo.png" />
                </div>
            </div>
            <div class="splash_h2">
                <h2> welcomes you to the IPPD Rater </h2>
            </div>
            <p ng-hide="authentication.user">
                <a class="btn btn-primary btn-lg" href="authentication/signin">Sign In</a>
            </p>
        </div>
    </div>
</section>