<section ng-controller="RatingsController" ng-init="findRatingByProjectAndUser()">
  <div class="title-bar">
    <div>
      <a id="back-button" class="glyphicon glyphicon-menu-left" aria-hidden="true" href="projects"></a>
    </div>
    <div id="title-text">
      {{project.teamName}}
    </div>
  </div>
  <div class="image">
    <img ng-if="project.logo" ng-src="modules/projects/client/img/logos/{{project.logo}}" alt="Project Poster"></img>
  </div>
  <form name="ratingForm" role="form" ng-submit="update(ratingForm)">
  	<table class="table">
  		<tbody>
  			<tr>
  		   	<td>
  		      <div>
  		        <b> Poster </b>
  		      </div>
              <div class="rate" id="poster">
                <input type="radio" id="poster_star5" name="Poster_Rating" value="5" ng-model="posterRating"/><label for="poster_star5"></label>
                <input type="radio" id="poster_star4" name="Poster_Rating" value="4" ng-model="posterRating"/><label for="poster_star4"></label>
                <input type="radio" id="poster_star3" name="Poster_Rating" value="3" ng-model="posterRating"/><label for="poster_star3"></label>
                <input type="radio" id="poster_star2" name="Poster_Rating" value="2" ng-model="posterRating"/><label for="poster_star2"></label>
                <input type="radio" id="poster_star1" name="Poster_Rating" value="1" ng-model="posterRating"/><label for="poster_star1"></label>
              </div>
              <div class="clear_star_ratings">
                <input type="radio" id="poster_star0" name="Poster_Rating" value="0" ng-model="posterRating"/><label for="poster_star0"></label>
              </div>
  		    </td>
  		  </tr>
  		  <tr>
  		    <td>
  		      <div>
  		        <b> Presentation </b>
  		      </div>
              <div class="rate" id="presentation">
    				    <input type="radio" id="presentation_star5" name="Presentation_Rating" value="5" ng-model="presentationRating"/><label for="presentation_star5"></label>
    				    <input type="radio" id="presentation_star4" name="Presentation_Rating" value="4" ng-model="presentationRating"/><label for="presentation_star4"></label>
    				    <input type="radio" id="presentation_star3" name="Presentation_Rating" value="3" ng-model="presentationRating"/><label for="presentation_star3"></label>
    				    <input type="radio" id="presentation_star2" name="Presentation_Rating" value="2" ng-model="presentationRating"/><label for="presentation_star2"></label>
    				    <input type="radio" id="presentation_star1" name="Presentation_Rating" value="1" ng-model="presentationRating"/><label for="presentation_star1"></label>
    				  </div>
              <div class="clear_star_ratings">
                <input type="radio" id="presentation_star0" name="Presentation_Rating" value="0" ng-model="presentationRating"/><label for="presentation_star0"></label>
              </div>
  		    </td>
  		  </tr>
  		  <tr>
  		    <td>
  		      <div>
  		        <b> Technical Demonstration </b>
  		      </div>
              <div class="rate" id="demo">
    				    <input type="radio" id="demo_star5" name="TechDemo_Rating" value="5" ng-model="demoRating"/><label for="demo_star5"></label>
    				    <input type="radio" id="demo_star4" name="TechDemo_Rating" value="4" ng-model="demoRating"/><label for="demo_star4"></label>
    				    <input type="radio" id="demo_star3" name="TechDemo_Rating" value="3" ng-model="demoRating"/><label for="demo_star3"></label>
    				    <input type="radio" id="demo_star2" name="TechDemo_Rating" value="2" ng-model="demoRating"/><label for="demo_star2"></label>
    				    <input type="radio" id="demo_star1" name="TechDemo_Rating" value="1" ng-model="demoRating"/><label for="demo_star1"></label>
    				  </div>
              <div class="clear_star_ratings">
                <input type="radio" id="demo_star0" name="TechDemo_Rating" value="0" ng-model="demoRating"/><label for="demo_star0"></label>
              </div>
  		    </td>
  		  </tr>
  			<tr>
  				<td class="form-group">
  		      <label id="singlelabel" for="comment">Comments</label>
  		      <textarea class="form-control" rows="3" id="comment" placeholder="Put optional comments or notes here" ng-model="comment"></textarea>
  		    </td>
  		  </tr>
  		  <tr>
  		    <td>
  		      <div class="form-group">
  		        <button id="submit_rating" type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="(!rated && (demoRating == 0) && (presentationRating == 0) && (posterRating == 0)) || ((demoRating == oldDemo) && (presentationRating == oldPresentation) && (posterRating == oldPoster) && (oldComment === comment))"> Submit Rating </button>
  		      </div>
  		    </td>
  		  </tr>
  		</tbody>
  	</table>
  </form>
</section>
