<section ng-controller="ProjectController" ng-init="findOne()">
  <div class="container">
  <div class="title-bar">
    <div>
      <a id="back-button" class="glyphicon glyphicon-menu-left" aria-hidden="true" href="projects"></a>
    </div>
    <ng-if="project.logo">{{project.teamName}}</ng-if="project.logo">
  </div>
  <div class="image">
    <img ng-if="project.logo" ng-src="modules/projects/client/img/logos/{{project.logo}}" alt="Project Poster"></img>
  </div>
    <table class="table">
      <tbody>
        <tr>
          <td> 
            <div>
                <b> Poster </b> 
            </div>
            <div class="rate">
              <input type="radio" id="star5" name="Poster_Rating"/><label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="Poster_Rating"/><label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="Poster_Rating"/><label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="Poster_Rating"/><label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="Poster_Rating"/><label for="star1" title="text">1 star</label>
            </div>
          </td>
        </tr>
        <tr>
          <td> 
            <div>
                <b> Presentation </b>
            </div>
            <div class="rate">
              <input type="radio" id="star6" name="Presentation_Rating"/><label for="star6" title="text">5 stars</label>
              <input type="radio" id="star7" name="Presentation_Rating"/><label for="star7" title="text">4 stars</label>
              <input type="radio" id="star8" name="Presentation_Rating"/><label for="star8" title="text">3 stars</label>
              <input type="radio" id="star9" name="Presentation_Rating"/><label for="star9" title="text">2 stars</label>
              <input type="radio" id="star10" name="Presentation_Rating"/><label for="star10" title="text">1 star</label>
            </div>
          </td>
        </tr>
        <tr>
          <td> 
            <div>
                <b> Technical Demonstration </b>
            </div>
            <div class="rate">
              <input type="radio" id="star11" name="TechDemo_Rating"/><label for="star11" title="text">5 stars</label>
              <input type="radio" id="star12" name="TechDemo_Rating"/><label for="star12" title="text">4 stars</label>
              <input type="radio" id="star13" name="TechDemo_Rating"/><label for="star13" title="text">3 stars</label>
              <input type="radio" id="star14" name="TechDemo_Rating"/><label for="star14" title="text">2 stars</label>
              <input type="radio" id="star15" name="TechDemo_Rating"/><label for="star15" title="text">1 star</label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="form-group">
            <label id="singlelabel" for="comment">Comments</label>
            <textarea class="form-control" rows="3" id="comment" placeholder="Put optional comments or notes here"></textarea>
          </td>
        </tr>
        <tr>
            <td>
              <div>
                  <button id="submit_rating" type="button" class="btn btn-primary btn-lg btn-block" > Submit Rating </button>
                  <!-- disabled="disabled"  for disable-->
              </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
