<section ng-controller="ProjectController" ng-init="findOne()">
  <div class="container">
  <!-- <img class="center-block logo-large" ng-if="!project.logo" src="modules/projects/client/img/logos/default.jpg" alt="Project Poster"></img> -->
  <div class="navbar-title">
    <h2 ng-if="!project.logo">{{project.teamName}}</h2>
  </div>
  <div>
    <img ng-if="project.logo" ng-src="modules/projects/client/img/logos/{{project.logo}}" alt="Project Poster"></img>
  </div>
    <table class="table">
      <tbody>
        <tr>
          <td> <!-- Poster  -->
        
            <div>
                Poster
            </div>

            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" /><label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" /><label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" /><label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" /><label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" /><label for="star1" title="text">1 star</label>
            </div>

          </td>
          
        </tr>
        <tr>
          <td> 

            <div>
                Presentation
            </div>
          
            <div class="rate">
              <input type="radio" id="star6" name="rate1" value="5" /><label for="star6" title="text">5 stars</label>
              <input type="radio" id="star7" name="rate1" value="4" /><label for="star7" title="text">4 stars</label>
              <input type="radio" id="star8" name="rate1" value="3" /><label for="star8" title="text">3 stars</label>
              <input type="radio" id="star9" name="rate1" value="2" /><label for="star9" title="text">2 stars</label>
              <input type="radio" id="star10" name="rate1" value="1" /><label for="star10" title="text">1 star</label>
            </div>
          </td>
        </tr>
        <tr>
          <td> 
          
            <div>
                Techincal Demonstration
            </div>

            <div class="rate">
              <input type="radio" id="star11" name="rate2" value="5" /><label for="star11" title="text">5 stars</label>
              <input type="radio" id="star12" name="rate2" value="4" /><label for="star12" title="text">4 stars</label>
              <input type="radio" id="star13" name="rate2" value="3" /><label for="star13" title="text">3 stars</label>
              <input type="radio" id="star14" name="rate2" value="2" /><label for="star14" 14itle="text">2 stars</label>
              <input type="radio" id="star15" name="rate2" value="1" /><label for="star15" ti5tle="text">1 star</label>
            </div>
          </td>
        </tr>
        <!-- <tr>
          <td class="form-group">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</section>
