<section class="container-fluid headerFont">
  <script type="text/javascript">
    $('.adminListButton').on('click', function(){
      $('.adminListButton').removeClass('adminButtonActive');
      $(this).addClass('adminButtonActive');
    });
  </script>
  <!-- This is the navbar on top of the admin panel and redirects you to the proper page-->
  <div class="row">
    <div class="col-sm-2 col-md-2 adminListButton accentColor"><a class="textColor" ui-sref="projects.list">Back to Rating</a></div>
    <div class="col-sm-2 col-md-2 adminListButton accentColor"><a class="textColor" ui-sref="admin.users">Users</a></div>
    <div class="col-sm-2 col-md-2 adminListButton accentColor"><a class="textColor" ui-sref="admin.projects">Projects</a></div>
    <div class="col-sm-2 col-md-2 adminListButton accentColor"><a class="textColor" ui-sref="admin.ratings">Ratings</a></div>
    <div class="col-sm-2 col-md-2 adminListButton accentColor"><a class="textColor" ui-sref="admin.theme">Theme</a></div>
    <div class="col-sm-2 col-md-2 adminListButton accentColor"><a class="textColor" ui-sref="admin.data">Data</a></div>
  </div>
  
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-offset-md-1 col-offset-lg-1">
      <section ui-view></section>
    </div>
  </div>
</section>