<section class="headerFont">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Data Management</h1>
      </div>
    </div>
  </div>

  <div class ="row" ng-controller="DataController">
    <button class="buttonHover allButton accentColor textColor col-md-4 col-md-offset-4" ng-click="exportRatings()">Export Ratings</button>
  </div>

  <div class ="row" ng-controller="RatingsController" ng-init="find()">
    <button class="buttonHover allButton destructiveButton textColor col-md-4 col-md-offset-4" ng-click="deleteAllRatings()">Clear Ratings</button>
  </div>

  <div class ="row" ng-controller="ProjectController" ng-init="find()">
    <button class="buttonHover allButton destructiveButton textColor col-md-4 col-md-offset-4" ng-click="deleteAllProjects()">Clear Projects</button>
  </div>

  <div class ="row" ng-controller="UserListController">
    <button class="buttonHover allButton destructiveButton textColor col-md-4 col-md-offset-4" ng-click="DeleteAllUsers()">Clear Users</button>
  </div>
</section>
