<section class="headerFont">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Data Management</h1>
      </div>
    </div>
  </div>

  <div class ="row" ng-controller="RatingsController" ng-init="find()">
    <div ng-show="success" class="text-success">
      <strong ng-bind="success"></strong>
      <br>
    </div>
    <button class="buttonHover allButton destructiveButton col-md-4 col-md-offset-4" ng-click="deleteAllRatings()">Clear Ratings</button>
  </div>

  <div class ="row" ng-controller="ProjectController" ng-init="find()">
    <div ng-show="success" class="text-success">
      <strong ng-bind="success"></strong>
      <br>
    </div>
    <button class="buttonHover allButton destructiveButton col-md-4 col-md-offset-4" ng-click="deleteAllProjects()">Clear Projects</button>
  </div>
</section>
