<section ng-controller="AdminProjectController" ng-init="findOne()">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>Edit Project</h1>
      </div>
      <div class="col-md-12">
        <form name="projectForm" class="form-horizontal" ng-submit="update(projectForm.$valid)" novalidate>
          <fieldset>
            <div class="form-group" show-errors>
              <label for="teamName">Project Name</label>
              <input type="text" id="teamName" name="teamName" class="form-control" ng-model="teamName" placeholder="Project Name" required />
              <div ng-messages="createProjectForm.teamName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Project name is required.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label for="description">Project Description</label>
              <input type="text" id="description" name="description" class="form-control" ng-model="description" placeholder="Description" />
            </div>

            <div class="form-group">
              <input type="submit" value="Update" class="btn btn-default">
            </div>
            <div ng-show="error" class="text-danger">
              <strong ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
