<section ng-controller="ProjectController" ng-init="findOne()">
      <div class="page-header">
        <h1>Edit {{project.teamName}}</h1>
      </div>
      <div class="col-md-12">
        <form name="projectForm" class="form-horizontal" ng-submit="update(projectForm.$valid)" novalidate>
          <fieldset>
            <div class="form-group" show-errors>
              <label for="teamName">Project Name</label>
              <input type="text" id="teamName" name="teamName" class="formField" ng-model="teamName" placeholder="{{project.teamName}}" required />
              <div ng-messages="createProjectForm.teamName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Project name is required.</p>
              </div>
            </div>

            <div class="form-group" show-errors>
              <label for="description">Project Description</label>
              <input type="text" id="description" name="description" class="formField" ng-model="description" placeholder="{{project.description}}" />
            </div>

            <div class="uploadLogo row" ng-controller="UploadController" ng-init="initUploader(true)">
              <h3> Logo Upload </h3>

              <input class="col-md-3 col-md-offset-4" type="file" nv-file-select uploader="uploader" />
              <p ng-show="invalidFile">Invalid file! {{invalidFileMessage}}</p>

              <button type="button" class="allButton smallButton destructiveButton" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                Remove File
              </button>
            </div>
            
            <br><br><br>

            <div class="form-group row">
              <input type="submit" value="Update" class="col-xs-12 col-sm-2 col-sm-offset-5 buttonHover allButton accentColor">
            </div>
            <div ng-show="error" class="text-danger">
              <strong ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>
</section>