<section ng-controller="RatingsController" ng-init="find()">
  <div class="page-header">
    <div class="row">
            <div class="col-md-4">
                <h1>Ratings</h1>
            </div>
        </div>
  </div>
  <div class="list-group">
    <a ng-repeat="rating in ratings" ui-sref="ratings.view({ratingId: rating._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="rating.created | date:'mediumDate'"></span>
        by
        <span ng-bind="rating.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="rating.title"></h4>
      <p class="list-group-item-text" ng-bind="rating.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="ratings.$resolved && !ratings.length">
    No ratings yet, why don't you <a ui-sref="ratings.create">create one</a>?
  </div>
</section>
