<section ng-controller="ProjectController" ng-init="find()">
    <div class="page-header">
        <div class="row">
            <div class="col-md-4">
                <h1>Projects</h1>
            </div>
            <div class="col-md-offset-4 col-md-4" style="margin-top: 2em">
                <input class="form-control" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
            </div>
        </div>
    </div>
    <div class="list-group">
        <a ng-repeat="project in pagedItems" ui-sref="admin.project({projectId: project._id})" class="list-group-item" style="height: 100px">
          <div class="col-sm-2">
            <div class="post-thumb"><img class="logo-icon" ng-if="project.logo" src='modules/projects/client/img/logos/{{project.logo}}' alt="No img"></div>
            <div class="post-thumb"><img class="logo-icon" ng-if="!project.logo" src='modules/projects/client/img/logos/default.jpg' alt="No img"></div>
          </div>
          <div class="col-sm-10">
            <h4 class="list-group-item-heading" ng-bind="project.teamName"></h4>
            <p class="list-group-item-text" ng-bind="project.description"></p>
          </div>
        </a>
    </div>
    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    <div class="alert alert-warning text-center" ng-if="projects.$resolved && !projects.length">
        No projects yet, why don't you <a ui-sref="projects.create">create one</a>?
    </div>
</section>
