<section ng-controller="RatingsController" ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Ratings</h1>
      </div>
      <div class="col-md-offset-3 col-md-4" style="margin-top: 2em">
        <!--  Descending Order -->
        <!-- <input type="checkbox" style="font-size: 50px;"></input> -->
      </div>
    </div>
  </div>

  <button type="radio" name="sortOpt" ng-click="sort='project.teamName'" class="ratingCol">
    Project
  </button>
  <button type="radio" name="sortOpt" ng-click="sort='-posterRating'" class="ratingCol">
    Poster
  </button>
  <button type="radio" name="sortOpt" ng-click="sort='-presentationRating'" class="ratingCol">
    Presentation
  </button>
  <button type="radio" name="sortOpt" ng-click="sort='-demoRating'" class="ratingCol">
    Demo
  </button>
  <button type="radio" name="sortOpt" ng-click="sort='user.username'" class="ratingCol">
    User
  </button>
  <button type="radio" name="sortOpt" ng-click="sort='user.roles'" class="ratingCol">
    Role
  </button>

  <div class="list-group">
    <a ng-repeat="rating in ratings | orderBy: sort" ui-sref="rating.project({project.teamName})" class="list-group-item">
      <div style="display: inline-block;">
        <div class="ratingCol" style="display: inline-block; margin-right: 20px;">
          <!-- TEAM -->
          <span ng-bind="rating.project.teamName">  </span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px;">
          <!-- POSTER -->
          <span ng-bind="getStars(rating.posterRating)"></span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px;">
          <!-- PRESENTATION -->
          <span ng-bind="getStars(rating.presentationRating)"></span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px;">
          <!-- DEMO -->
          <span ng-bind="getStars(rating.demoRating)"></span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px;">
          <!-- USERNAME -->
          <span ng-bind="rating.user.username"></span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px;">
          <!-- JUDGE -->
          <span ng-bind="rating.user.roles"></span>
        </div>
      </div>
    </a>
  </div>

  <div class="alert alert-warning text-center" ng-if="ratings.$resolved && !ratings.length">
    No ratings yet, why don't you <a ui-sref="ratings.create">create one</a>?
  </div>
</section>