<section ng-controller="AdminProjectController" ng-init="find()">
  <div class="page-header">
    <h1>Projects</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="project in projects" ui-sref="admin.project({projectId: project._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="project.teamName"></h4>
      <p class="list-group-item-text" ng-bind="project.description"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="projects.$resolved && !projects.length">
    No projects yet, why don't you <a ui-sref="projects.create">create one</a>?
  </div>
</section>
