<section ng-controller="ProjectController" ng-init="find()">
    <div class="page-header">
        <div class="row">
            <div class="col-md-4">
                <h1>Projects</h1>
            </div>
            <div class="col-md-4" style="margin-top: 2em">
                <input class="formField" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
            </div>
          
            <button class="col-md-2 col-md-offset-2 buttonHover allButton accentColor textColor" ui-sref="admin.create-project">Add Project</button>
        </div>
    </div>
    <div class="list-group contentFont">
        <a ng-repeat="project in pagedItems" ui-sref="admin.project({projectId: project._id})" class="list-group-item row">
          <div class="col-xs-2 logoIconCol">
            <div class="post-thumb"><img class="logo-icon" ng-if="project.logo" ng-src='modules/projects/client/img/logos/{{project.logo}}' alt="No img"></div>
            <div class="post-thumb"><img class="logo-icon" ng-if="!project.logo" src='modules/projects/client/img/logos/default.jpg' alt="No img"></div>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading" ng-bind="project.teamName"></h4>
            <p class="list-group-item-text contentFont" ng-bind="project.description"></p>
          </div>
        </a>
    </div>
    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
