<section ng-controller="RatingsController" ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Ratings</h1>
      </div>
    </div>
  </div>

  <button id="projectNameTab" type="radio" name="sortOpt" ng-click="sortTabs('#projectNameTab','project.teamName')" class="listTabButton listTabButtonActive accentColor">
    Project
  </button>
  <button id="posterRatingTab" type="radio" name="sortOpt" ng-click="sortTabs('#posterRatingTab','-posterRating')" class="listTabButton">
    Poster
  </button>
  <button id="presentationRatingTab" type="radio" name="sortOpt" ng-click="sortTabs('#presentationRatingTab','-presentationRating')" class="listTabButton">
    Presentation
  </button>
  <button id="demoRatingTab" type="radio" name="sortOpt" ng-click="sortTabs('#demoRatingTab','-demoRating')" class="listTabButton">
    Demo
  </button>
  <button id="usernameTab" type="radio" name="sortOpt" ng-click="sortTabs('#usernameTab','user.username')" class="listTabButton">
    User
  </button>
  <button id="roleTab" type="radio" name="sortOpt" ng-click="sortTabs('#roleTab','-user.roles')" class="listTabButton">
    Role
  </button>

  <div class="list-group">
    <a ng-repeat="rating in ratings | orderBy: adminListTabSort" ui-sref="rating.project({project:teamName})" class="list-group-item">
      <div style="display: inline-block;">
        <div class="ratingCol" style="display: inline-block; margin-right: 20px; vertical-align: middle;">
          <!-- TEAM -->
          <span ng-bind="rating.project.teamName">  </span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px; vertical-align: middle;">
          <!-- POSTER -->
          <span ng-bind="getStars(rating.posterRating)"></span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px; vertical-align: middle;">
          <!-- PRESENTATION -->
          <span ng-bind="getStars(rating.presentationRating)"></span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px; vertical-align: middle;">
          <!-- DEMO -->
          <span ng-bind="getStars(rating.demoRating)"></span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px; vertical-align: middle;">
          <!-- USERNAME -->
          <span ng-bind="rating.user.username"></span>
        </div>
        <div class="ratingCol" style="display: inline-block; margin-right: 20px; vertical-align: middle;">
          <!-- JUDGE -->
          <span ng-bind="rating.user.roles"></span>
        </div>
      </div>
    </a>
  </div>
</section>