<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="user.username"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="user.created"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="user.roles"></div>
      </div>
    </div>
  </div>
</section>

<section ng-controller="RatingsController" ng-init="find()">
  <div class="container">
    <div class="col-md-10">
      <div class="page-header">
        <div class="row">
          <div class="col-md-4">
            <h1>Ratings</h1>
          </div>
        </div>
      </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Project</th>
        <th>Demo</th>
        <th>Poster</th>
        <th>Presentation</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rating in ratings">
        <td ng-bind="rating.project.teamName"></td>
        <td ng-bind="rating.demoRating"></td>
        <td ng-bind="rating.posterRating"></td>
        <td ng-bind="rating.presentationRating"></td>
      </tr>
    </tbody>
  </table>

      <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
      <div class="alert alert-warning text-center" ng-if="ratings.$resolved && !ratings.length">
        No ratings yet!
      </div>
    </div>
  </div>
</section>
