.backgroundColor {
  background-color: #FFFFFF;
}

.accentColor {
  background-color: #005596;
}

.textColor {
  color: #000000;
}

img {
  position: center;
  max-width: 100%;
  max-height: 150px;
  height: auto;
  width: auto\9;
  /* ie8 */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  padding-top: 5px;
}

th,
td {
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  border-bottom: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

label {
  font-size: 20px;
  font-weight: normal !important;
}

.error-text {
  display: none;
}

.has-error .help-block.error-text {
  display: block;
}

.has-error .help-inline.error-text {
  display: inline;
}

.img-center {
  margin: auto;
}

.logo-icon {
  float: left;
  margin: 0 15px 0 0;
  width: 64px;
  height: auto;
  max-height: 64px;
}

.logo-large {
  margin: 10px;
  width: 400px;
  height: auto;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}

.undecorated-link:hover {
  text-decoration: none;
}

.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.ratingTitleCol {
  text-align: left;
  min-width: 50px;
}

.ratingCol {
  width: 100px;
}

.userBar {
  float: right;
  text-align: right;
}

.welcomeMessage {
  font-size: 2rem;
}

.signOutButton {
  color: #e60000;
}

.bg {
  position: fixed;
  margin: auto;
}

.splashpage {
  position: absolute;
  background: #74B8FF;
  background: url("../img/brand/building.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
}

.cover {
  padding: 30px 10px 10px 10px;
  position: relative;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
}

.pageHeader {
  margin: 20px 0 5px;
}

.headerFont {
  font-family: 'Quicksand', sans-serif;
}

.contentFont {
  font-family: 'Helvetica', sans-serif;
}

.appTitle {
  font-size: 4rem;
  line-height: 1;
}

.centeredForm {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
}

@media (min-width: 700px) {
  .centeredForm {
    position: absolute;
    left: 50%;
    margin-left: -200px;
  }
}

.formField {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 5px 5px 10px;
  border: none;
  border-bottom: solid 4px #c9c9c9;
  width: 100%;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1;
}

.formField:hover {
  border-bottom: solid 4px #005596;
  -webkit-transition: all 350ms linear;
  -moz-transition: all 350ms linear;
  -o-transition: all 350ms linear;
  -ms-transition: all 350ms linear;
  transition: all 350ms linear;
}

.formField:focus {
  outline: 0 !important;
  border-bottom: solid 4px #005596;
}

.allButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  line-height: 40px;
  margin-bottom: 15px;
}

.allButton:focus {
  outline: 0 !important;
}

.smallButton {
  font-size: 1rem;
  line-height: 20px;
}

.listTabButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
  border-color: #999;
  border-radius: 4px;
  height: 50px;
  margin-bottom: -15px;
  display: inline-block;
  text-align: center;
  padding-right: 50px;
  margin-right: -15px;
  margin-left: 2;
  z-index: -1;
  width: 14%;
  padding-bottom: 10px;
}

.listTabButton:focus {
  outline: 0 !important;
}

.thirdWidthListTabButton {
  width: 33.9%;
}

.rightmostListTabButton {
  padding-right: 10px;
}

.listTabButtonActive {
  color: white;
  z-index: 0;
  height: 56px;
}

.rankNextButton {
  background-color: forestgreen;
}

.instructionLabel {
  margin: 20px 0;
  font-size: 2rem;
}

.destructiveButton {
  background-color: #ff0007;
}

.signInButton {
  width: 80%;
  background-color: #005596;
}

.adminListButton {
  text-align: center;
  height: 60px;
  transition: all .5s;
  margin-bottom: 10px;
  border-right: solid #FA9E42 4px;
}

.adminListButton:hover {
  height: 65px;
}

.adminButtonActive {
  height: 65px;
}

.adminListButton a {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 60px;
  text-decoration: none;
  font-size: 2rem;
}

.adminListButton a:hover, .adminListButton a:focus {
  color: #f4f4f4;
}

.backToRatingsButton {
  font-size: 1rem;
}

.socialList {
  list-style: none;
  text-align: center;
  margin-top: 30px;
}

.socialImage {
  padding: 0;
  display: inline;
  width: 70px;
  margin-right: 10px;
  border-radius: 13px;
}

.buttonHover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.buttonHover:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, .5);
}

.fullWidth {
  width: 100%;
}

.title-bar {
  position: fixed;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: black;
  padding: 7px;
  text-align: center;
  left: 0;
  width: 100%;
  background: #DDD;
  background: rgba(247, 247, 247, 0.94);
}

.image {
  padding-top: 50px;
  vertical-align: bottom;
}

.rate {
  display: inline-block;
  height: 45px;
}

.rate:not(:checked) > input {
  position: absolute;
  visibility: hidden;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 45px;
  color: #DBDCDE;
}

.rate:not(:checked) > label:before {
  content: '★';
}

.rate > input:checked ~ label {
  color: #FF8000;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #FA9E42;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #FA9E42;
}

.clear_star_ratings {
  margin-top: 15px;
  margin-bottom: 0;
  -webkit-appearance:none;
  -moz-appearance:none;
  background:none;
  border:none;
  margin:0;
  padding:0;
  padding-top: 10px;
  font-size: 15px;
  color: #DBDCDE;
  outline: 0;
  outline-color: none;
  display: block;
  text-align: center;
}

.clear_star_ratings:not(:checked) > input {
  position: absolute;
  font-size: 50px;
  float: center;
  visibility: hidden;
}

.clear_star_ratings:not(:checked) > label {
  width: 4em;
  text-align: center;
}

.clear_star_ratings:not(:checked) > label:before {
  content: 'clear';
}

.clear_star_ratings > input:checked ~ label {
  color: #DBDCDE;
}

label[for="star-null"] {
  display: block;
  margin: 0 auto;
  color: #DBDCDE;
}

input[type="reset"] {
  -webkit-appearance:none;
  -moz-appearance:none;
  background:none;
  border:none;
  margin:0;
  padding:0;
  font-size: 15px;
  color: #DBDCDE;
  outline: 0;
  outline-color: none;
}

#back-button {
  position: absolute;
  padding: 7px;
  left: 0;
  vertical-align: middle;
  font-size: 30px;
  color: #15A3FF;
  text-decoration: none;
}

#title-text {
  display: block;
  margin: auto;
}

#submit_rating {
  background-image: none;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#submit_rating:disabled {
  border-color: #4cae4c;
  color: #4cae4c;
  font-style: #4cae4c;
  background-color: white;
}

#singlelabel {
  font-size: 15px;
}

#comment {
  font-size: 10px;
  text-align: center;
}
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}
input[type=radio]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(0, 85, 150);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}