

td {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;

}

label {
    font-size: 20px;
    font-weight: normal !important;
}

/*.navbar-default {
    
    border-color: #D1D1D1;
    background-color: #D1D1D1;
}

.navbar-default .navbar-nav > li {
    background-color: #D1D1D1;
}*/

.navbar-title {
    position: absolute;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 25px;
    color: #15A3FF;
    float: center;
    padding: 10px;
    text-align: center;
    left: 0;
    width: 100%;
    background-color: #D1D1D1;
}

.glyphicon {
    font-size: 30px;
    color: #15A3FF;
}

.center-block {
    display: block;
    /*margin-top: 20px;*/
    margin-left: middle;
    margin-right: middle;
    margin-bottom: 20px;
 }

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    /*outline: none;*/
    border: 0;
    background-color: #D1D1D1;
    vertical-align: center;
}

.glyphicon:hover {
    font-size: 30px;
    color: #7CC8FA;
}

.rate {
    float: center;
    height: 25px;
    padding: 0 5px;
}
.rate:not(:checked) > input {
    position:absolute;
    visibility: hidden;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#DBDCDE;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #FF8000;

}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
   color: #FA9E42;

}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
      color:  #FA9E42;
}



