.content {
  margin-top: 50px;
}

html {
  /*min-height: 100%;*/
  /*background: linear-gradient(#1D05FC, orange);*/
  background: url("../img/brand/building.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

h2 {
  padding-bottom: 15px;
}

.jumbotron {
  /*font-style: bold;*/
  /*font-family: "Courier New", Courier, monospace;*/
  padding-bottom: 15px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.85);
  box-shadow: 8px 8px 15px #313131;
}

