.content {
  margin-top: 50px;
}

.splashpage {
  position: absolute;
  background: #74B8FF;
  background: url("../img/brand/building.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.splash_h2 {
  padding-bottom: 15px;
}

.jumbotron {
  padding-bottom: 15px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: white;
  background: rgba(255,255,255,0.85);
  box-shadow: 8px 8px 15px #313131;
}

.btn {
  background: #005792;
}

.btn:hover {
  background: #0276C1;
}

