.content {
  /*margin-top: 50px;*/
}

html,body {
  /*min-height: 100%;*/
  background-image: url("../img/brand/building.jpg");
  background-repeat: no-repeat;
  /*background: linear-gradient(#1D05FC, orange);*/
}

.img {
  resize: 100px;
}


.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: white;
  opacity: 0.9;
  box-shadow: 8px 8px 10px #313131;
}

